@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@keyframes scaleDelay {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes traslateDelay {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes icondelay {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.wrapper {
}

// ---Header---
.page__one {
  height: 100vh;
  background-color: #1c1d25;
  overflow: hidden;
  position: relative;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    visibility: visible;
    opacity: 1;
    .nav-links {
      display: flex;
      z-index: 11;

      li {
        a {
          color: #b0b2c3;
          transition: color 0.35s ease;
          font-weight: 700;
          font-size: 20px;
          margin-left: 40px;
          font-family: "League Spartan", sans-serif;
          padding-bottom: 5px;
          position: relative;

          &:after,
          &:before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 0%;
            height: 3px;
            transition: all 0.35s ease;
            border-radius: 5px;
          }

          &:after {
            right: 0;
            background-color: #d24e50;
          }

          &:hover:after {
            width: 100%;
          }

          &:hover {
            color: #ffff;
          }

          &:hover:after {
            left: 0;
          }
        }
      }
      .header__switch__box {
        margin-left: 20px;
        width: 40px;
        height: 20px;
        border-radius: 15px;
        border: 2px solid #b0b2c3;
        position: relative;

        .header__switch__round {
          position: absolute;
          top: 2px;
          left: 2px;
          height: 12px;
          width: 12px;
          border-radius: 50%;
          background-color: #fff;
          transition: 0.3s;
        }
      }
      .header__switch__box.active {
        .header__switch__round {
          transform: translateX(20px);
        }
      }
    }
    .header__menu {
      display: none;
      z-index: 11;
    }
  }
  .header.active {
    // animation: icondelay 0.1s ease-in;
    visibility: hidden;
    opacity: 0;
    .header__switch__box {
      display: none;
    }
  }
  .header__overlayRed,
  .header__overlayBlue {
    display: none;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100vw;
    background-color: #f06047;
    transition: 0.3s ease;
    z-index: 10;
    overflow: hidden !important;
  }
  .header__overlayBlue {
    transition: 0.5s ease-in;
    background: rgb(16, 27, 59);
    background: linear-gradient(
      90deg,
      rgba(16, 27, 59, 1) 0%,
      rgba(35, 90, 166, 1) 100%
    );
  }
  .header__overlayRed.active,
  .header__overlayBlue.active {
    left: 0;
  }
  .main__hero__text {
    position: relative;
    height: 550px;
    margin-top: 30%;
    margin-left: 60px;
    z-index: 1;
    h1 {
      color: #fff;
      font-family: "League Spartan", sans-serif;
      font-size: calc(52px + 1.5vw);
      margin-bottom: 10px;
    }
    p {
      color: #fff;
      font-family: "Libre Baskerville", serif;
      font-size: calc(10px + 1vw);
      margin-bottom: 30px;
    }
    button {
      position: relative;
      color: #fff;
      border: none;
      font-size: 20px;
      font-weight: 600;
      padding: 12px;
      cursor: pointer;
      font-family: "League Spartan", sans-serif;
      background: rgb(239, 54, 54);
      background: linear-gradient(
        90deg,
        rgba(239, 54, 54, 1) 0%,
        rgba(240, 100, 73, 1) 100%
      );
      svg {
        position: absolute;
        fill: #fff;
        height: 35px;
        top: 4px;
        right: -30px;
        transition: 0.3s ease;
      }
      &:hover {
        svg {
          right: -35px;
        }
      }
    }

    .logo {
      position: absolute;
      top: -150px;
      right: 0;
      z-index: -1;
    }
  }

  .about__contact {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 95%;
    max-width: 1200px;
    height: 90%;
    overflow: hidden;
    z-index: 5;
    visibility: hidden;
    transition: box-shadow 0.3s;
    margin-right: 10%;

    i {
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: 15px;
      color: white;
      font-size: 34px;
      transition: 0.1s ease-in;
      opacity: 0.8;
      z-index: 999;

      &:hover {
        opacity: 1;
      }
    }
    .about {
      position: absolute;
      top: -100%;
      height: 100%;
      width: 50%;
      background-color: #ebebeb;
      transition: 0.4s ease-in;
      opacity: 0;
      .about__container {
        height: 100%;
        width: 90%;
        margin: 40% auto;
        overflow: auto;

        h3 {
          font-family: "League Spartan", sans-serif;
          font-size: 26px;
          margin-bottom: 10px;
        }
        p {
          font-size: 14px;
          font-family: "Libre Baskerville", serif;
          margin-bottom: 15px;
        }
        .text__about {
          font-size: 20px;
          font-family: Arial, Helvetica, sans-serif;

          span {
            color: orangered;
          }
        }
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 25px;

          li {
            margin: 0 15px;

            p {
              font-family: Arial, Helvetica, sans-serif;
              font-weight: 600;
              opacity: 0;
              transition: 0.3s ease-in;
            }
            .react:hover {
              svg {
                path {
                  fill: rgb(0, 183, 255);
                }
              }
              p {
                animation: icondelay 0.3s ease-in;
                opacity: 1;
              }
            }
            .html:hover {
              svg {
                path {
                  fill: orangered;
                }
              }
              p {
                animation: icondelay 0.3s ease-in;
                opacity: 1;
              }
            }
            .javascript:hover {
              svg {
                path {
                  fill: rgb(221, 200, 13);
                }
              }
              p {
                animation: icondelay 0.3s ease-in;
                opacity: 1;
              }
            }
            .ui:hover {
              svg {
                path {
                  fill: rgb(55, 192, 247);
                }
              }
              p {
                animation: icondelay 0.3s ease-in;
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .contact {
      position: absolute;
      bottom: -100%;
      height: 100%;
      width: 50%;
      right: 0;
      opacity: 0;
      transition: 0.4s ease;
      background-color: #1c1d25;
    }
  }
  .about__contact.active {
    visibility: visible;
    box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.5);

    .about {
      top: 0;
      opacity: 1;
    }
    .contact {
      bottom: 0;
      opacity: 1;
    }
  }
  @media (max-width: 850px) {
    .about__container {
      margin: 40% auto;
      .text__about {
        font-size: 16px !important;
      }
    }
    .about__contact {
      width: 100%;
      height: 100%;

      i {
        color: #1c1d25;
      }

      .about {
        height: 50%;
        width: 100%;

        .about__container {
          height: 100%;
          margin: 20% auto;

          padding: 0;
          ul {
            display: flex;
            align-items: center;
            justify-content: center;
            li {
              padding: 0;
              margin-right: 5px;
            }
          }
        }
      }

      .contact {
        height: 50%;
        width: 100%;
      }
    }
  }

  @media (max-width: 460px) {
    .about__contact {
      .technologies {
        display: none !important;
      }
    }
  }

  .socail__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10px;
    z-index: 10;
    i {
      color: #b0b2c3;
      font-size: 70px;
      margin-top: 80px;

      &:hover {
        color: #fff;
      }
    }
  }
  .socail__icon.hidden {
    display: none !important;
  }
  @media (max-width: 1280px) {
    .socail__icon {
      i {
        font-size: 40px !important;
        margin-top: 50px;
      }
    }
  }

  @media (max-width: 760px) {
    .socail__icon {
      display: none;
    }
  }
}
.page__one.light-mode {
  background-color: #ececec;
  .header__logo {
    path {
      fill: #4c4f65;
    }
  }
  .nav-links {
    li {
      a {
        color: #4c4f65;

        &:hover {
          color: #1c1d25;
        }
      }
    }
    .header__switch__box {
      border: 2px solid #b0b2c3;
      background-color: #4c4f65;
    }
  }
  .header__menu {
    .bar1,
    .bar2,
    .bar3 {
      background-color: #4c4f65;
    }
  }
  .main__hero__text {
    h1,
    p {
      color: #4c4f65;
    }
    button {
      svg {
        path {
          fill: #4c4f65;
        }
      }
    }
  }
  .social {
    color: #4c4f65;
    // font-size: 70px;

    &:hover {
      color: #1c1d25;
    }
  }
}
.page__container {
  padding: 15px 10px;
  margin: 0 auto;
  max-width: 1170px;
}

@media (max-width: 640px) {
  header {
    .header__logo {
      width: 48px;
      height: 48px;
    }

    .nav-links {
      display: none !important;
      transition: 0.3s ease-in;
    }
    .nav-links.active {
      position: absolute;
      top: 35vh;
      display: block !important;
      animation: traslateDelay 0.6s ease-in;
      z-index: 5;

      li {
        margin-bottom: 30px;

        a {
          color: #ffff;
          font-size: 38px !important;
        }
      }

      .header__switch {
        display: none;
      }
    }
    .header__menu {
      display: block !important;
      cursor: pointer;
      width: 42px;
      transition: 0.3s ease-in-out;
      z-index: 3;
    }

    .header__menu.active {
      animation: scaleDelay 0.3s ease-in;
    }

    .bar1,
    .bar2,
    .bar3 {
      height: 3px;
      height: 3px;
      background-color: #dbdce4;
      margin-bottom: 6px;
      transition: 0.4s ease-in-out;
      margin-right: 10px;
    }
    .bar1 {
      width: 100%;
    }
    .bar2 {
      width: 85%;
      margin-left: 15%;
    }
    .bar3 {
      width: 60%;
      margin-left: 40%;
    }

    .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
      margin-bottom: 9px;
    }

    .change .bar2 {
      opacity: 0;
    }

    .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
      width: 100%;
      margin-left: 0;
    }
    .header__overlayRed,
    .header__overlayBlue {
      display: block !important;
    }
  }
  .main__hero__text {
    margin-top: 250px !important;
    margin-left: 35px !important;
    h1 {
      font-size: calc(32px + 1.5vw) !important;
    }
    p {
      font-size: calc(13px + 1vw) !important;
    }
    .logo {
      top: -190px !important;
      left: 20px;
    }
  }
  .socail__icon {
    display: none !important;
    transition: 0.3s ease-in;
  }
  .socail__icon.active {
    top: 90%;
    left: 40px;
    display: block !important;
    animation: traslateDelay 0.6s ease-in;
    i {
      font-size: 50px !important;
      margin: 0 10px;
    }
  }
}
// ---Header---
